Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Mail==0.9.1
Werkzeug==2.3.7
pandas==1.5.3
openpyxl==3.1.2
qrcode[pil]==7.4.2
pytz==2024.1
Pillow==10.2.0
python-dotenv==1.0.0
gunicorn==21.2.0
email-validator==2.1.0 